.header {
    &__burger {
        display: none;
        width: 100%;
        height: 100%;
        padding: 40px 15px;
        position: fixed;
        top: -120vh;
        left: 0;
        background: var(--main-dark-bg);
        z-index: 100;
        overflow-y: auto;
        transition: top 0.5s;

        &-navigation{
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            gap: 200px;
        }
        &-menu{
            display: flex;
            flex-flow: column;
            align-items: center;
            gap: 30px;
        }
        &-link>a{
            color: var(--main-white);
            font-size: 30px;
            transition: font-size 0.3s;

            @media (hover){
                &:hover{
                    font-size: 34px;
                }
            }
        }
    }

    &__contacts {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 15px;
    }

    @media screen and (max-width: 830px) {
        &__burger{
            display: block;
        }
    }
}

.open-burger-menu{
    top: 0;
}